.img-info{
    position: relative;
    border: 1px solid #999;
    padding: 20px;
}
.products button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: white;
}
.products-info{
    margin: 10px 0;
    color: #3a3838;
    
}
.img-info img{
    margin-bottom: 40px;
}
.products-info h2{
    font-weight: 600;
    color: #1b1818;
    font-size: 16px;
}
.products-info{}
.products-info{}